.logo {
    height: 32px;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.profile-name {
    font-size: 1.6rem;
}

.profile-title {
    font-size: 1rem;
}

.profile-text {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
